@font-face {
  font-family: "Wt06";
  src: url('~assets/fonts/chinese/wt006.ttf') format("opentype");
}

@font-face {
  font-family: "Wt07";
  src: url('~assets/fonts/chinese/w7.otf') format("opentype");
}

@font-face {
  font-family: "Wt12";
  src: url('~assets/fonts/chinese/w12.otf') format("opentype");
}

@font-face {
  font-family: "Wt06C";
  src: url('~assets/fonts/chinese/wtg-06cut1x.ttf') format("opentype");
}

@font-face {
  font-family: "Wt14";
  src: url('~assets/fonts/chinese/wt014.ttf') format("opentype");
}

@font-face {
  font-family: "Wt40";
  src: url('~assets/fonts/chinese/wt040.ttf') format("opentype");
}

@font-face {
  font-family: "Wt09";
  src: url('~assets/fonts/chinese/wt009.ttf') format("opentype");
}

@font-face {
  font-family: "Wt11";
  src: url('~assets/fonts/chinese/wt011.ttf') format("opentype");
}


@font-face {
  font-family: "Wt24";
  src: url('~assets/fonts/chinese/wt024.ttf') format("opentype");
}

@font-face {
  font-family: "Wt28";
  src: url('~assets/fonts/chinese/wt028.ttf') format("opentype");
}

@font-face {
  font-family: "Wt34";
  src: url('~assets/fonts/chinese/wt034.ttf') format("opentype");
}

@font-face {
  font-family: "Wt64";
  src: url('~assets/fonts/chinese/wt064.ttf') format("opentype");
}

@font-face {
  font-family: "Wt15";
  src: url('~assets/fonts/chinese/wtcc15.ttf') format("opentype");
}

@font-face {
  font-family: "Wt06";
  src: url('~assets/fonts/chinese/wthc06.ttf') format("opentype");
}
