@font-face {
  font-family: "Wt24";
  src: url('~assets/fonts/chinese/wt024.ttf') format("opentype");
}

@font-face {
  font-family: "Wt28";
  src: url('~assets/fonts/chinese/wt028.ttf') format("opentype");
}

@font-face {
  font-family: "Wt34";
  src: url('~assets/fonts/chinese/wt034.ttf') format("opentype");
}

@font-face {
  font-family: "Wt64";
  src: url('~assets/fonts/chinese/wt064.ttf') format("opentype");
}

@font-face {
  font-family: "Wt15";
  src: url('~assets/fonts/chinese/wtcc15.ttf') format("opentype");
}

@font-face {
  font-family: "Wt06";
  src: url('~assets/fonts/chinese/wthc06.ttf') format("opentype");
}
